<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand"
     [routerLink]="['/home']" routerLinkActive="active"
  >Sensory</a>
  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-expanded="false" aria-controls="navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/home']" routerLinkActive="active"
        >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/data']" routerLinkActive="active"
        >Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/sensors']" routerLinkActive="active"
        >Sensors</a>
      </li>
    </ul>
  </div>
</nav>
